body {
    background-color:#8a2be2;
}

h1 {
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    color:white;

}
img {
    margin: 5px;
    border-radius: 50%;
}

.branco {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}